@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
  --green-bg: rgba(22, 133, 123, 1);
  --dark-blue-bg: rgba(11, 22, 65, 1);
  --pink-bg: rgba(199, 1, 96, 1);
  --white-text: rgb(232, 232, 232);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--white-text);
  font-family: 'Roboto', sans-serif;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
