@import './base.css';

a {
  text-decoration: none;
  transition: 0.4s;
  color: var(--white-text);
}

@media (hover: hover) {
  a:hover {
    opacity: 0.8;
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 8px;
}

.border {
  border: 1px solid white;
}
